.contPrincipal{
  margin-top: 100px;
}

.contFiltro{
  margin-top: 60px;
}

.color404{
  color: #FF6E00;
}

.colorFilter404{
  filter: invert(68%) sepia(64%) saturate(6268%) hue-rotate(360deg) brightness(101%) contrast(108%);
}

.nav-link.active{
  font-weight: bold;
}

[data-theme='dark'] body{
  background-color: rgb(108, 117, 125);
}

nav{
  background-color: rgb(233, 236, 239);
}

[data-theme='dark'] nav{
  color: #fff;
  background-color: rgb(52, 58, 64);
}

[data-theme='dark'] a, [data-theme='dark'] a.nav-link.active{
  color: #fff;
  background-color: rgb(52, 58, 64);
}